* {

margin: 0;
padding: 0;
box-sizing: border-box;

}

body {

    background-color: green;

}

.container {

    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: green;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Inter', sans-serif;

}

#logo {

    height: 80px;
}

.one {

    height: 120vh;
    width: 50vw;
    margin: 10px;
}

.two img {

    height: 100vh;
    width: 65vw;
}

form {

    margin-bottom: 45px;
}


a {

    text-decoration: none;
    color: aliceblue;
}